.about__title {
  font-size: $about__title-font-size;
  line-height: $about__title-line-height;
  color: $about__title-color;
  font-weight: 700;
}

.about__main-text {
  color: $about__main-text-color;
  font-weight: 300;
}

.about__sub-text {
  color: $about__sub-text-color;
  font-weight: 700;
}
