.about__title {
  font-size: $large-font-size;
  line-height: 24px;
  color: $orange;
  font-weight: 700;
}

.about__main-text {
  color: $white;
  font-weight: 300;
}

.about__sub-text {
  color: $white;
  font-weight: 700;
}
