.directions__title {
  font-size: $large-font-size;
  line-height: 24px;
  color: $orange;
  font-weight: 700;
}

.directions__list {
  @include reset-list;
}

.directions__all {
  background-color: $yellow;
  font-size: $bigger-font-size;
  line-height: 18px;
  color: $blue-light;
  font-weight: 700;
}

@media (min-width: $breakpoint-tablet) {
  .directions__text-wrapper {
    width: 50%;
  }

  .directions__all {
    width: 100%;
    display: block;
  }
}

@media (min-width: $breakpoint-desktop) {
  .directions__list {
    width: 50%;
    order: 1;
  }

  .directions {
    display: flex;
    justify-content: space-around;
  }

  .directions__text-wrapper {
    order: 2;
  }
}
