.directions-item__wrapper {
  background-color: $directions-item__wrapper-background-color;
}

.directions-item__country {
  font-size: $directions-item__country-font-size;
  line-height: $directions-item__country-line-height;
  color: $directions-item__country-color;
  font-weight: 700;
}

.directions-item__title {
  line-height: $directions-item__title-line-height;
  color: $directions-item__title-color;
  opacity: 0.3;
  font-weight: 500;
}

.directions-item__counter {
  line-height: $directions-item__counter-line-height;
  color: $directions-item__counter-color;
  opacity: 0.3;
  font-weight: 500;
}
