.interested {
  background-color: $blue;
}

.interested__title {
  font-size: $large-font-size;
  line-height: 24px;
  color: $orange;
  font-weight: 700;
}

.interested__text {
  color: $white;
  font-weight: 300;
}

.interested__link {
  color: $yellow;
  font-weight: 300;
}

.interested__input {
  color: $grey;
  font-weight: 700;
  background-color: $white;
}

.interested__btn {
  background-color: $yellow;
}

