.main-nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.main-nav__logo {
  width: 50%;
}

.main-nav__toggle {
  //width: 25px;
  height: 25px;
  width: 50%;
  background: none;
  position: relative;
  border: none;
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";
  height: 2px;
  width: 30px;
  position: absolute;
  transform: rotate(45deg);
  background-color: #cccccc;
  top: 10px;
  right: 0;
}

.main-nav__toggle::after {
  transform: rotate(-45deg);
}


@media (min-width: $breakpoint-tablet) {
  .main-nav__logo {
    width: 33%;
  }

  .main-nav__toggle {
    width: 33%;
  }

  .main-nav__toggle::before,
  .main-nav__toggle::after {
    height: 1px;
    width: 20px;
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .main-nav__toggle::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

@media (min-width: $breakpoint-desktop) {
  .main-nav__toggle {
    width: 0;
    display: none;
  }

  .main-nav__logo {
    width: auto;
  }
}
