.plan-steps {
  @include reset-list;
}

.plan-steps__item {
  background-color: $white;
}

.plan-steps__num {
  font-size: $prebiggest-font-size;
  line-height: 20px;
  color: $blue-light;
  font-weight: 700;
}

.plan-steps__name {
  font-size: $prebiggest-font-size;
  line-height: 20px;
  color: $blue-light;
  font-weight: 700;
}

.plan-steps__next,
.plan-steps__submit {
  font-size: $big-font-size;
  line-height: 30px;
  color: $blue-dark;
  font-weight: 700;
  background-color: $yellow;
}

.plan-steps__prev {
  font-size: $big-font-size;
  line-height: 30px;
  color: $blue-dark;
  font-weight: 700;
}

.plan-steps__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $breakpoint-tablet) {
  .plan-steps__wrapper-input {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .plan-steps__children {
    order: 1;
  }

  .plan-steps__quantity-input:first-child {
    order: 0;
  }

  .plan-steps__quantity-input {
    order: 2;
  }

  .plan-steps__controls {
    flex-direction: row;
  }
}

@media (min-width: $breakpoint-desktop) {
  .plan-steps__wrapper-input {
    flex-direction: row;
  }

  .plan-steps__quantity-input {
    width: 50%;
  }

  .plan-steps__children {
    width: 50%;
  }
}
