.plan-countries {
  @include reset-list;
}

.plan-countries__country {
  color: $blue-light;
  font-weight: 500;
  font-size: $smaller-font-size;
  line-height: 18px;
  text-transform: uppercase;
  background-color: $white;

  &--add {
    background-color: $white-dark;
  }
}

.plan-countries__item {
  display: flex;
  justify-content: space-between;
}
