.plan-steps {
  @include reset-list;
}

.plan-steps__item {
  background-color: $white;
}

.plan-steps__num {
  font-size: $prebiggest-font-size;
  line-height: 20px;
  color: $blue-light;
  font-weight: 700;
}

.plan-steps__name {
  font-size: $prebiggest-font-size;
  line-height: 20px;
  color: $blue-light;
  font-weight: 700;
}

.plan-steps__next,
.plan-steps__submit {
  font-size: $big-font-size;
  line-height: 30px;
  color: $blue-dark;
  font-weight: 700;
  background-color: $yellow;
}

.plan-steps__prev {
  font-size: $big-font-size;
  line-height: 30px;
  color: $blue-dark;
  font-weight: 700;
}
