.quantity-input__label {
  line-height: 16px;
  color: $blue-light;
  font-weight: 500;
  text-transform: uppercase;
}

.quantity-input__units {
  line-height: 16px;
  color: $blue-light;
  text-transform: uppercase;
  opacity: 0.3;
}
