.social__list {
  @include reset-list;
  height: 40px;
}

@media (min-width: $breakpoint-tablet) {
  .social {
    order: 1;
  }
}

@media (min-width: $breakpoint-desktop) {
  .social {
    order: initial;
    display: none;
  }
}
