.steps__list {
  @include reset-list;
}

.steps__item {
  font-size: $bigger-font-size;
  line-height: 18px;
  color: $blue-dark;
  background-color: $orange;
  font-weight: 700;
}

.steps__item:nth-child(2n) {
  background-color: $orange-light;
}

.steps__item:nth-child(3n) {
  background-color: $orange-lighter;
}

.steps__item:nth-child(4n) {
  background-color: $yellow;
}

@media (min-width: $breakpoint-tablet) {
  .steps__list {
    display: flex;
    flex-wrap: wrap;
  }

  .steps__item {
    width: 50%;
  }
}

@media (min-width: $breakpoint-desktop) {
  .steps__item {
    width: auto;
    flex-grow: 1;
  }
}
