.tags__title {
  line-height: 18px;
  color: $blue-light;
  text-transform: uppercase;
}

.tags {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
}

@media (min-width: $breakpoint-tablet) {
  .tags {
    order: 2;
  }
}

@media (min-width: $breakpoint-desktop) {
  .tags {
    flex-grow: 0;
    flex-shrink: 1;
    order: initial;
    width: auto;
  }
}
