.tariffs {
  background-color: $white-dark;
}

.tariffs__all {
  line-height: 16px;
  color: $blue;
  font-weight: 700;
}

.tariffs__item {
  font-weight: 300;
  display: flex;
  flex-direction: column;
}

@media (min-width: $breakpoint-tablet) {
  .tariffs__item {
    flex-direction: row;
    justify-content: space-between;
  }
}
